[user]
	name = Marco Thomas
	email = mthomas@marcmk.de
[alias]
	aa = add .
	st = status
	sh = show
	d = diff
	c = commit -v
	ca = commit -v --amend
	co = checkout
	b = branch
	pl = pull --rebase
	ps = push
	lg = log --oneline --decorate --graph
