! Font
XTerm.vt100.faceName: xft:SFMono Nerd Font Mono:antialias=true
XTerm.vt100.faceSize: 9

! Remove Scrollbar
XTerm.vt100.scrollBar: false

! Resize Term Font
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

! colors
*background: #fafafa
*foreground: #575f66
! Black + DarkGrey
*color0:  #191e2a
*color8:  #686868
! DarkRed + Red
*color1:  #ff3333
*color9:  #f27983
! DarkGreen + Green
*color2:  #a6cc70
*color10: #bae67e
! DarkYellow + Yellow
*color3:  #e7c547
*color11: #ffcc66
! DarkBlue + Blue
*color4:  #55b4d4
*color12: #5ccfe6
! DarkMagenta + Magenta
*color5:  #ffd580
*color13: #ffee99
! DarkCyan + Cyan
*color6:  #95e6cb
*color14: #95e6cb
! LightGrey + White
*color7:  #c7c7c7
*color15: #ffffff
