*.foreground:   #bbc2cf

#ifdef background_opacity
*.background:   [background_opacity]#282c34
#else
*.background:   #282c34
#endif

*.cursorColor:  #bbc2cf

*.color0:       #282c34
*.color1:       #ff6c6b
*.color2:       #98be65
*.color3:       #ecbe7b
*.color4:       #51afef
*.color5:       #c678dd
*.color6:       #46d9ff
*.color7:       #bbc2cf

*.color8:       #bbc3cf
*.color9:       #ff6c6b
*.color10:      #98be65
*.color11:      #ecbe7b
*.color12:      #51afef
*.color13:      #c678dd
*.color14:      #46d9ff
*.color15:      #bbc2cf

!! Some extra xterm settings
! Font
XTerm.vt100.faceName: xft:FiraCode Nerd Font Mono:antialias=true
XTerm.vt100.faceSize: 9

! Remove Scrollbar
XTerm.vt100.scrollBar: false
Xterm.vt100.scrollBar.widht:1

! Resize Term Font
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

