[user]
	name = Marco Thomas
	email = rb.ma.tho@gmail.com
[includeIf "gitdir:~/dev/lrz-gitlab/**"]
	path = "~/dev/lrz-gitlab/.gitconfig"
[alias]
	a = add
	aa = add .
	bl = blame
	br = branch
	c = commit -v
	ca = commit -v --amend
	co = checkout
	cp = cherry-pick
	d = diff
	lg = log --oneline --decorate --graph
	lgp = lg -p
	pl = pull --rebase
	plm = pull
	plm = pull
	ps = push
	r = rebase
	sh = show
	st = status
	yeet = push
	yoink = pull
[blame]
	date = relative
	coloring = highlightRecent
[color "blame"]
	highlightRecent = 248, 23 month ago, 247, 21 month ago, 246, 19 month ago, 245, 17 month ago, 244, 15 month ago, 243, 13 month ago, 242, 11 month ago, 241, 9 month ago, 240, 8 month ago, 239, 7 month ago, 238, 6 month ago, 237, 5 month ago, 236, 4 month ago, 235, 3 month ago, 234, 2 month ago, 233, 1 month ago, 232, 1 week ago, 112
[grep]
	lineNumber = true
