[user]
	name = Marco Thomas
	email = git@marcothms.de
[includeIf "gitdir:~/dev/lrz-gitlab/**"]
	path = "~/dev/lrz-gitlab/.gitconfig"
[alias]
	a = add
	aa = add .
	bl = blame
	c = commit -v
	ca = commit -v --amend
	co = checkout
	cp = cherry-pick
	d = diff
	nuke = clean -df
	lg = log --oneline --decorate --graph
	pl = pull --rebase
	ps = push
	sh = show
	st = status -s
	wt = worktree
[blame]
	date = relative
[grep]
	lineNumber = true
[init]
	defaultBranch = main
[core]
	editor = hx
